@import "/svg-flag/assets/style.scss";
@import "/svg-flag-image/assets/style.scss";
//@import "/svg-flag-grid/assets/style.scss";

// Styles common to all blocks

.svg-flags-caption {

   :not(.flag-icon-squared) + .svg-flags-caption-heading {
    margin-top: 0;
  }
	.svg-flags-caption-heading {
    margin-top: 0.4em;
	}
	
	.svg-flags-image-caption-heading {
		margin-top: 0.4em;
	}
}